<a href="https://colab.research.google.com/github/amgonca2019/DSWP/blob/master/NB08__Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1><b><i>SETS</i></b></h1></center>

# **AGENDA**:

> Veja o **índice** dos itens que serão abordados neste capítulo.

# **SETS**

* Um objeto Set é uma coleção **não ordenada** que pode ser **iterável, alterado** e que **não possui duplicatas.**
* ***Analogia com conjuntos da Matemática***
* Itens entre "**{ }**": {item_1, item_2, ..., item_k}.
* **Não** se pode **usar índices** para **acessar** os **itens** do objeto Set.

* Qual a vantagem de se utilizar objetos Sets ao invés de lists?    
    * Usar Sets ao invés de lists é um meio altamente **recomendado** e **otimizado** para se **verificar** **se o item** pertence à lista.

![PythonDataStructures](https://github.com/MathMachado/Materials/blob/master/PythonDataStructures.png?raw=true)

Considere o exemplo a seguir:

In [ ]:
# Definindo a lista
l_frutas = ['Apple','Apple', 'Watermelon', 'Orange', 'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Grape',
'Mango', 'Blueberry', 'Pomegranate', 'Carambola', 'Plum', 'Banana', 'Raspberry', 'Mandarin', 'Jackfruit',
'Papaya', 'Kiwi', 'Pineapple', 'Lime', 'Lemon', 'Apricot', 'Grapefruit', 'Melon', 'Coconut', 'Avocado', 'Peach', 'Peach', 'Avocado']

Mostrando os itens da lista l_frutas:

In [ ]:
l_frutas

['Apple',
 'Apple',
 'Watermelon',
 'Orange',
 'Pear',
 'Cherry',
 'Strawberry',
 'Nectarine',
 'Grape',
 'Mango',
 'Blueberry',
 'Pomegranate',
 'Carambola',
 'Plum',
 'Banana',
 'Raspberry',
 'Mandarin',
 'Jackfruit',
 'Papaya',
 'Kiwi',
 'Pineapple',
 'Lime',
 'Lemon',
 'Apricot',
 'Grapefruit',
 'Melon',
 'Coconut',
 'Avocado',
 'Peach',
 'Peach',
 'Avocado']

In [ ]:
type(l_frutas)

list

In [ ]:
'Mandarin' in set_frutas

True

Como podemos ver, l_frutas é um objeto do tipo list.

___
# **TRANSFORMAR OBJETO LIST EM OBJETO SETS**
* ***Função set().***

In [ ]:
# help(set())

In [ ]:
set_frutas = set(l_frutas)
print(set_frutas)
set_frutas  # Aqui ele ordena o conjunto !!??

{'Peach', 'Pomegranate', 'Orange', 'Cherry', 'Apple', 'Kiwi', 'Melon', 'Apricot', 'Lemon', 'Papaya', 'Watermelon', 'Mango', 'Pineapple', 'Mandarin', 'Grapefruit', 'Lime', 'Carambola', 'Avocado', 'Pear', 'Grape', 'Blueberry', 'Banana', 'Coconut', 'Nectarine', 'Jackfruit', 'Strawberry', 'Raspberry', 'Plum'}

{'Apple',
 'Apricot',
 'Avocado',
 'Banana',
 'Blueberry',
 'Carambola',
 'Cherry',
 'Coconut',
 'Grape',
 'Grapefruit',
 'Jackfruit',
 'Kiwi',
 'Lemon',
 'Lime',
 'Mandarin',
 'Mango',
 'Melon',
 'Nectarine',
 'Orange',
 'Papaya',
 'Peach',
 'Pear',
 'Pineapple',
 'Plum',
 'Pomegranate',
 'Raspberry',
 'Strawberry',
 'Watermelon'}

Observe que o objeto set acima ***não possui itens duplicados***.

In [ ]:
# Verificando o tipo do objeto set_frutas...

type(set_frutas)

set

Ok, set_frutas é um objeto do tipo set.

Você notou que os itens do set set_frutas estão entre "{}"?

Verificando se o item 'Mandarin' pertence ao set set_frutas...

In [ ]:
'Mandarin' in set_frutas

True

___
# **PRINCIPAIS MÉTODOS**
> Alinhado com a teoria dos conjuntos da Matemática.

## União de conjuntos (sets) - Todos elementos, não repetidos, de A e B
* Retorna a união/junção de dois objetos sets;
* O operador ‘|’ produz o mesmo resultado que set1.union(set2);

![Union](https://github.com/MathMachado/Materials/blob/master/set_Union.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

### set.union()
> Retorna os valores únicos dos dois conjuntos. Na teoria dos conjuntos, escrevemos:

$$A \cup B$$

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [ ]:
set_frutas1

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

In [ ]:
set_frutas2

{'Cherry', 'Nectarine', 'Pear', 'Strawberry'}

**Atenção**: Observe que o objeto lista set_frutas1 possui 'Apple' e 'Orange' duplicados. Observe, também, que o item 'Cherry' é o item comum entre estas duas listas.

In [ ]:
# Juntando as duas listas:
set_frutas = set_frutas1.union(set_frutas2)
set_frutas

{'Apple', 'Cherry', 'Nectarine', 'Orange', 'Pear', 'Strawberry', 'Watermelon'}

Note que cada elemento da lista aparece uma única vez.

Observe também que o objeto set_frutas1 é do tipo set.

In [ ]:
type(set_frutas)

set

### Operador "|"
* vamos repetir o exemplo anterior, mas desta vez vamos demonstrar o uso do operador "|".

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [ ]:
# Juntando as duas listas:
set_frutas = set_frutas1 | set_frutas1
set_frutas

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

Mesmo resultado, certo? Particularmente, eu prefiro usar o operador "|".

## Intersecção de dois conjuntos - Esta contido em A e B
* Retorna a intersecção de dois objetos set;
* O operador ‘&’ produz o mesmo resultado que set1.intersection(set2).
* Teoria dos conjuntos: $X \cap Y$.

![Interseccion](https://github.com/MathMachado/Materials/blob/master/set_Intersection.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1= {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry','Banana'}
set_frutas2= {'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Banana'}

In [ ]:
set_frutas = set_frutas1.intersection(set_frutas2)
set_frutas

{'Banana', 'Cherry'}

### Operador "&"

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry', 'Banana'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Banana'}

In [ ]:
set_frutas = set_frutas1 & set_frutas2
set_frutas

{'Banana', 'Cherry'}

## Diferença entre conjuntos - Esta contido apenas em A
* Retorna um objeto/conjunto set contendo todos os elementos do conjunto set1 que não pertençam ao conjunto set2;
* O operador "-" produz o mesmo resultado que set.difference(set2).
* Na teoria de conjuntos escrevemos: $A - B = A - A \cap B$

![Difference](https://github.com/MathMachado/Materials/blob/master/set_Difference.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1= {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry', 'Banana'}
set_frutas2= {'Pear', 'Cherry', 'Strawberry', 'Nectarine','Banana'}

In [ ]:
set_frutas = set_frutas1.difference(set_frutas2)
set_frutas

{'Apple', 'Orange', 'Watermelon'}

Confira se o resultado são os elementos que pertençam ao objeto set 1 que NÃO PERTENÇAM ao set2.

### **Operador " - "**

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry','Banana'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine','Banana'}

In [ ]:
set_frutas = set_frutas1 - set_frutas2
set_frutas

{'Apple', 'Orange', 'Watermelon'}

## **Diferença Simétrica - Estão contidos apenas em A e apenas em B**
* Retorna um objeto/conjunto set contendo itens de set1 e set2 menos a intersecção de set1 e set2.
* Na teoria de conjuntos escrevemos: $A \cup B - A \cap B$.

![DifferenceSymmetric](https://github.com/MathMachado/Materials/blob/master/set_DifferenceSymetric.PNG?raw=true)

Fonte: [Python Set](https://www.learnbyexample.org/python-set/)

In [1]:
import numpy as np
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple', 'Watermelon', 'Orange', 'Apple', 'Orange', 'Cherry','Banana'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine','Banana'}

In [ ]:
set_frutas1 ^= set_frutas2
set_frutas1

{'Apple', 'Nectarine', 'Orange', 'Pear', 'Strawberry', 'Watermelon'}

In [ ]:
set_frutas1.symmetric_difference(set_frutas2)

{'Apple', 'Nectarine', 'Orange', 'Pear', 'Strawberry', 'Watermelon'}

Vimos que o item 'Cherry' é o elemento comum entre as duas listas. Portanto, 'Cherry' é a intersecção das duas listas. Certo?

Então, o resultado acima não pode conter o item 'Cherry'. Certo?

___
# **OUTROS MÉTODOS IMPORTANTES**

## Método clear()
* deleta todos os itens do objeto set.

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"
set_frutas1 = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Pear', 'Cherry', 'Strawberry', 'Nectarine'}

In [ ]:
set_frutas1.clear()
set_frutas1

set()

In [ ]:
# Deleta elementos do set

In [ ]:
set_frutas1.discard('Apple') 
set_frutas1

{'Cherry', 'Orange', 'Watermelon'}

## Número de itens num objeto set - Tamanho(comprimento) do set

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"

set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [ ]:
set_frutas

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

In [ ]:
len(set_frutas)

4

Por acaso alguém estava à espera de outro númerco, como um 6, por exemplo?

## Membership

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"

set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [ ]:
'Apple' in set_frutas

True

## Non-Membership

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"

set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}

In [ ]:
'Apple' not in set_frutas

False

## Copiar um objeto set

In [ ]:
# definindo a lista de itens. Lembre-se de usar "{}" ao invés de "[]"

set_frutas = {'Apple','Watermelon','Orange', 'Apple', 'Orange', 'Cherry'}
set_frutas

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

In [ ]:
set_frutas2 = set_frutas.copy()
set_frutas2

{'Apple', 'Cherry', 'Orange', 'Watermelon'}

## Testar se cada elemento de set_frutas1 pertence à set_frutas2

In [ ]:
set_frutas1 = {'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Apple', 'Orange','Cherry', 'Nectarine', 'Avocado'}

In [ ]:
set_frutas1.issubset(set_frutas2)

True

A interpretação disso é que set_frutas1 é subconjunto de set_frutas2. Lembra-se destes conceitos quando estudou Matemática ou Estatística?

### Operador "<="

In [ ]:
set_frutas1 = {'Apple', 'Orange', 'Cherry'}
set_frutas2 = {'Apple', 'Orange', 'Cherry', 'Nectarine', 'Avocado'}

In [ ]:
set_frutas1 <= set_frutas2

True

In [ ]:
set_frutas1 == set_frutas2

False

___
# **EXERCÍCIOS**

## Exercício 1
* Qual o output do code abaixo:

In [ ]:
set_numeros = {0, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9}
print(set_numeros)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Exercícios 2
* Qual o output do code abaixo:

In [ ]:
set_numeros = {0 ,1, 2, 3, 4}
set_numeros.update([3, 4, 5, 6])
set_numeros

{0, 1, 2, 3, 4, 5, 6}

### Explicação
O método update() adiciona/acrescenta itens/lementos não repetidos ao objeto set.

## Exercício 3
* Qual o output do code abaixo:

### Exercício 3.1.

In [ ]:
set_numeros = {0, 1 ,2, 3, 4, 5}
set_numeros2 = set_numeros.add(4)
set_numeros2

### Exercício 3.2.

In [ ]:
set_engenheiros = {'A', 'B', 'C', 'D'}
set_programadores = {'C', 'E', 'F', 'D'}
set_gerentes = {'B', 'C', 'F', 'G'}
set_empregados = {'D', 'E', 'F', 'G'}

In [ ]:
set_empregados = set_engenheiros | set_programadores | set_gerentes  # | união de conjuntos
set_empregados

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

### Exercício 3.3.

In [ ]:
set_engenheiros_gerentes = set_engenheiros & set_gerentes # & Intersecção
set_engenheiros_gerentes

{'B', 'C'}

### Exercício 3.4.

In [ ]:
set_so_gerentes = set_gerentes - set_engenheiros - set_programadores # - Diferença entre conjuntos - esta contido apenas em um conjunto
set_so_gerentes

{'G'}

### Exercício 3.5.

In [ ]:
set_engenheiros.add('H')
set_engenheiros

{'A', 'B', 'C', 'D', 'H'}

### Exercício 3.6.

In [ ]:
set_empregados.update(set_engenheiros)
set_empregados

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

### Exercício 3.7.

In [ ]:
set_engenheiros

{'A', 'B', 'C', 'D'}

In [ ]:
set_programadores

{'C', 'D', 'E', 'F'}

In [ ]:
set_gerentes

{'B', 'C', 'F', 'G'}

In [ ]:
set_empregados

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [ ]:
for item in [set_engenheiros, set_programadores, set_gerentes, set_empregados]:
    item.discard('F')
    print(item)

{'D', 'C', 'B', 'A'}
{'D', 'C', 'E'}
{'C', 'B', 'G'}
{'B', 'A', 'D', 'C', 'E', 'G'}

## Exercício 4
* É possível sortear os itens de um set? Explique sua resposta.

## Exercício 5
Consulte a página [Python Data Types: Sets - Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/sets/) para mais exercícios relacionados à sets.