[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/amgonca2019/DSWP/blob/master/NB10_01__Pandas__Resposta_Exercicios.ipynb)

<center><h1><b><i>PANDAS PARA DATA ANALYSIS</i></b></h1></center>



# **Resposta dos Exercícios**

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Materials/blob/master/Pandas2.jpeg?raw=true)

In [ ]:
# Carrega a library Pandas e outras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

print(f'Versão do Pandas: {pd.__version__}')
print(f'Versão do NumPy.: {np.__version__}')

In [ ]:
# Criando um dicionário, com parâmetros da função set option

d_configuracao = {
    'display.max_columns': 1000,
    'display.expand_frame_repr': True,
    'display.max_rows': 1000,
    'display.precision': 2,
    'display.show_dimensions': True
                  }

for op, value in d_configuracao.items():
    pd.set_option(op, value)
    print(op, value)

___
# **Exercícios**

## Exercício 1
* A partir dos dataframes USA_Abbrev, USA_Area e USA_Population, construa o Dataframe USA contendo as COLUNAS state, abbreviation, area, ages, year, population.

### **Concatenação** - Concat

Concatenação basicamente ***cola DataFrames***. Tenha em mente que ***as dimensões devem corresponder ao longo do eixo que você está concatenando***. Você pode usar ** pd.concat ** e passar uma lista de DataFrames para concatenar juntos:

### **Mesclar** - Merge

A Ideia de mesclar é que estejamos **unindo** data frames, dado que eles ***compartilhem algum elemento em comum***, não sendo replicada esta  esta coluna no nova data frame!


### **Juntar** - Join

Juntar é um método conveniente para ***combinar as colunas*** de dois DataFrames ***indexados potencialmente diferentes em um único resultado*** DataFrame.

In [ ]:
url = 'https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/USA_Abbrev.csv'
url2 = 'https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/USA_Area.csv'
url3 = 'https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/USA_Population.csv'
df_USA_Abbrev = pd.read_csv(url)
df_USA_Area = pd.read_csv(url2)
df_USA_Population = pd.read_csv(url3)

In [ ]:
df_USA_Abbrev.head(10)

In [ ]:
df_USA_Abbrev.info()

In [ ]:
df_USA_Area.head(10)

In [ ]:
df_USA_Area.info()

In [ ]:
pd.set_option('display.float_format', lambda x: '%8.2f' % x)
# pd.set_option("display.precision", 2 )

df_USA_Population.head(20)

In [ ]:
df_USA_Population.info()

In [ ]:
df_USA_Population.state_region.value_counts()

In [ ]:
# # Juntando os data frames df_USA_Abbrev e df_USA_Area, usando concat - 

pd.concat([df_USA_Abbrev, df_USA_Area],axis=1, join = 'outer') # axis = 1 => concatena por colunas - junta todas as colunas

In [ ]:
# Juntando os data frames df_USA_Abbrev e df_USA_Area, usando merge() -  não repete as colunas

df_USA_merged = pd.merge(df_USA_Abbrev, df_USA_Area, how = 'inner') # neste caso, todas as opções de how(right, outer, left) produz o mesmo resultado

In [ ]:
df_USA_merged.head(10)

In [ ]:
# Concatenar ou Meclar ou juntar df_USA_merged, df_USA_Population

pd.concat([df_USA_merged, df_USA_Population], axis = 1, join = 'inner') # melhorar resultado

In [ ]:
pd.merge(df_USA_merged, df_USA_Population, on = ['abbreviation', 'state_region'])

In [ ]:
 # df_USA_Population_sample = df_USA_Population.sample(100)

In [ ]:
 # df_USA_Population_sample

In [ ]:
# pd.set_option('display.max_rows', 200)
df_USA_merged.join(df_USA_Population, how='outer') # Melhorar oresultado

In [ ]:
# df_USA_merged.join(df_USA_Population_sample, how='outer')
#df_USA_merged.join(df_USA_Population_sample.set_index('state_region	'), on='abbreviation')
pd.set_option('display.max_rows', 3000)
df_USA_merged.join(df_USA_Population.set_index('state_region'), on = 'abbreviation' )  # tentar melhorar os indices

In [ ]:
pd.set_option('display.max_rows', 3000)
df = df_USA_Population.join(df_USA_merged.set_index('abbreviation'), on = 'state_region')

In [ ]:
df.head(50) # Acho que seria isto  !!

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

## Exercício 2
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir e faça o merge do dataframe df_esquerdo com o dataframe df_direito:

In [ ]:
df_esquerdo = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
df_direito = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df_esquerdo

In [ ]:
df_direito

In [ ]:
pd.merge(df_esquerdo, df_direito,on = 'key', how = 'inner' )

## Exercício 3
Source: https://github.com/aakankshaws/Pandas-exercises

* Considere os dataframes a seguir: ( Analisar depois)

In [ ]:
df_esquerdo = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
df_direito = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df_esquerdo

In [ ]:
df_direito

### Perguntas
* Qual o output e a interpretação dos comandos a seguir:

In [ ]:
pd.merge(df_esquerdo, df_direito, on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'outer', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'right', on = ['key1', 'key2'])

In [ ]:
pd.merge(df_esquerdo, df_direito, how = 'left', on = ['key1', 'key2'])

## Exercício 5
5.1. Identifique e delete os atributos do dataframe df_Titanic que podem ser excluídos inicialmente no início da análise de dados.

In [ ]:
import seaborn as sns

In [ ]:
df_titanic = sns.load_dataset('titanic')
df_titanic.head(20)

In [ ]:
df_titanic.drop(columns = ['alive', 'alone']).head(10)

___
## Exercício 6 - Resolvido
* Carregue o dataframe Titanic_With_MV.csv e analise o dataframe em busca de inconsistências e Missing Values (NaN).

In [ ]:
url ='https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/Titanic_With_MV.csv'
df_Titanic_MV = pd.read_csv(url, index_col = 'PassengerId')

In [ ]:
df_Titanic_MV.head(20)

In [ ]:
df_Titanic_MV.info()

### Verificar Missing Values

In [ ]:
df_Titanic_MV.isna().any()

In [ ]:
df_Titanic_MV.isna().sum()

### Identificação e tratamento dos Missing Values
* Em geral, **deletamos** variáveis com **mais de 50%** de **Missing Values**.

In [ ]:
df_Titanic_MV.shape

In [ ]:
pd.set_option('display.max_rows', 500)

In [ ]:
df_missing_values = pd.DataFrame(df_Titanic_MV.isnull().sum())
df_missing_values['mv_percent'] = 100*df_missing_values[0]/df_Titanic_MV.shape[0]
# df_missing_values[0].sort_values(ascending= False)
df_missing_values.sort_values(by ='mv_percent', ascending= False)

In [ ]:
df_missing_values = pd.DataFrame(df_Titanic.isnull().sum())
df_missing_values['mv_percent'] = 100*df_missing_values[0]/df_Titanic.shape[0]

In [ ]:
df_missing_values[0]

In [ ]:
df_Titanic.shape[0]

In [ ]:
df_missing_values

In [ ]:
# Criando uma função para ver o percentual de missing values( Pode ser adaptada e usada como template)

def mostra_missing_value(df_Titanic_MV):
    total = df_Titanic_MV.isnull().sum().sort_values(ascending = False)
    percent = 100*round((df_Titanic_MV.isnull().sum()/df_Titanic_MV.isnull().count()).sort_values(ascending = False), 2)
    missing_data = pd.concat([total, percent], axis = 1, keys=['Total', 'Percentual'])
    print(missing_data.head(10))

In [ ]:
mostra_missing_value(df_Titanic_MV)

In [ ]:
type(mostra_missing_value(df_Titanic_MV))

In [ ]:
# Apagando o atributo Embarked, pois tem mais de 50 % de missing values. Apagando também o atributo Ticket, pois a principio não nos interessa

df_Titanic_MV.drop(['Cabin', 'Ticket'], axis = 1).head(10)

In [ ]:
df_Titanic_MV.head(10)

In [ ]:
# import pandas as pd
# df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python4DS/DS_Python/Dataframes/Titanic_With_MV.csv?token =AGDJQ63MNPPPROFNSO2BZW25XSR72', index_col= 'PassengerId')
url ='https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/Titanic_With_MV.csv'
df_Titanic= pd.read_csv(url, index_col = 'PassengerId')
df_Titanic.head(10)

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * sex: sexo do Passageiro

In [ ]:
df_Titanic.Parch.unique()
# df_Titanic.Parch.nunique()

### Avaliando inconsistências nas COLUNAS

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
# Uniformizando o nome das COLUNAS

df_Titanic.columns= [cols.lower() for cols in df_Titanic.columns]
df_Titanic.head()

### **Coluna 'pclass'**

In [ ]:
sns.

In [ ]:
# Numero de passageiros por classe

df_Titanic['pclass'].value_counts()

In [ ]:
# Seaborn - Visualizando o numero de sobreviventes por classe

sns.countplot(x = 'survived', hue ='pclass', data = df_Titanic)

Não me parece nada estranho com a variável 'pclass'. Ou você identifica alguma coisa estranho?

* Observa-se que na classe 3,  teve um numero maior de não sobreviventes !!!

### Coluna 'sex'

In [ ]:
df_Titanic['sex'].value_counts()

In [ ]:
# Seaborn - Visualizando o numero de sobreviventes por sexo

sns.countplot(x = 'survived', hue ='sex', data = df_Titanic)

Qual sua opinião sobre esse preenchimento?

Algum problema?

Oops... Aqui temos vários problemas... Olhando para estes resultados, você concorda que 'male', 'm', 'MALE', M', 'mALE' e 'Men' se trata da mesma informação?

Da mesma forma, 'female', 'f', 'F', 'Female', 'fEMALE', 'Woman', 'w' e 'W' também se trata da mesma informação?

Então, vamos fazer o seguinte:

* Toda vez que eu encontrar um desses valores: ['m', 'MALE', 'M', 'mALE', 'Men'], vou substituir por 'male';
* Toda vez que eu encontrar um desses valores: ['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], vou substituit por 'female'.

In [ ]:
# Fazendo uma cópia, para preservarmos o DF original
df_Titanic2= df_Titanic.copy()
df_Titanic2

#### Corrigir com **df.replace()**

In [ ]:
df_Titanic['sex2'] = df_Titanic['sex'].replace(['m', 'MALE', 'M', 'mALE', 'Men'], 'male')
df_Titanic['sex3'] = df_Titanic['sex2'].replace(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], 'female')

In [ ]:
df_Titanic

In [ ]:
df_Titanic.sex3.unique()

Vamos ver a distribuição dos dados novamente no gráfico:

In [ ]:
# Seaborn - Visualizando o numero de sobreviventes por sexo

sns.countplot(x = 'survived', hue ='sex3', data = df_Titanic)

In [ ]:
df_Titanic['sex3'].value_counts()

Ok, de fato corrigimos os problemas de preenchimento da variável 'sex'.

#### Corrigir com **df.map()**

In [ ]:
# Voltanmdo ao DF original

df_Titanic= df_Titanic2.copy()
df_Titanic

In [ ]:
# Primeiro criamos um dicionário - lista de chaves para um valor

d_sexo= {}
d_sexo.update(dict.fromkeys(['m', 'MALE', 'M', 'mALE', 'Men', 'male'], 'male'))
d_sexo.update(dict.fromkeys(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W', 'female'], 'female'))
print(d_sexo)

Aplica a transformação:

In [ ]:
df_Titanic['sex2'] = df_Titanic['sex'].map(d_sexo)
df_Titanic

In [ ]:
df_Titanic['sex2'].value_counts()
# df_Titanic['sex2'].unique()
#df_Titanic['sex2'].nunique()

Qual a conclusão? Este preenchimento faz mais sentido que o anterior?
* Embarcaram mais pessoas do sexo masculino, do que do sexo feminino

In [ ]:
# Deleta as variáveis 'sex':

df_Titanic = df_Titanic.drop(columns = ['sex'], axis = 1).rename(columns= {'sex2': 'sex'})

# Mostra os dados:
df_Titanic.head()

In [ ]:
# Seaborn - Plotando valores categoricos

sns.catplot(x="sex", kind="count", data = df_Titanic)

In [ ]:
# Seaborn - Visualizando o numero de sobreviventes por sexo

sns.countplot(x = 'survived', hue ='sex', data = df_Titanic)

### Feature Engineering
#### Coluna 'cabin'
* Construir as COLUNAS:
    * deck - Letra de Cabin;
    * seat - Número de Cabin

Sugestões:
1) Não descartar nenhuma informação (Fábio);

2) Coluna com número de cabines reservadas (Thomaz).

In [ ]:
# Verificando os códigos das cabines

df_Titanic['cabin'].head(20)

In [ ]:
# Verificando os códigos das cabines

df_Titanic['cabin'].value_counts()

In [ ]:
# Verificando os códigos das cabines

set(df_Titanic['cabin'])

Como podemos ver, trata-se de uma variável categórica com vários níveis. Portanto, vamos capturar somente a primeira letra da variável 'cabin'. Para tal, vamos utilizar a função slice().

>***str.slice()*** - Captura (slice) partes de s_Str.

A seguir, capturamos a primeira letra da variável 'cabin':

In [ ]:
# definindo a variável 'deck' que representará a primeira letra da variável 'cabin'

df_Titanic["deck"] = df_Titanic["cabin"].str.slice(0, 1) # slice(inicio, tamanho_da_string)
# df_Titanic['cabin'].str.slice()

In [ ]:
df_Titanic.head(20)

In [ ]:
df_Titanic['deck'].value_counts()

**A seguir, vamos extrair a parte numérica da variável 'cabin' usando Expressões Regulares:**

In [ ]:
df_Titanic.head(10)

In [ ]:
df_Titanic.cabin.unique()

In [ ]:
# Importar a biblioiteca para Expressões Regulares

import re

In [ ]:
# help(re)

In [ ]:
# Primeiramente, usamos a função split() para separar o conteúdo da variável em COLUNAS: 

new = df_Titanic["cabin"].str.split(" ", n = 3, expand = True)

In [ ]:
new.head(10)

Observe acima que o comando gera quantos splits da variável eu quiser. No entanto, por simplicidade, me interessa somente o primeiro split.

Agora, vou extrair o número do assento do passageiro usando Expressões Regulares:

In [ ]:
# Aqui está o conteúdo de new[0]:
new[0].head(10)

In [ ]:
new2= new[0].str.extract('(\d+)')
new2.head(10)

Por fim, vou carregar esta informação ao dataframe df:

In [ ]:
df_Titanic["seat"] = new2
df_Titanic.head(10)

Por fim, excluir a variável 'cabin':

In [ ]:
df_Titanic= df_Titanic.drop(columns= ["cabin"], axis =1, errors="ignore")

In [ ]:
df_Titanic.head(20)

### Coluna 'embarked'

In [ ]:
df_Titanic['embarked'].value_counts()

In [ ]:
# Visualizando  a quantidade da variável categórica embarked
import seaborn as sns

In [ ]:
sns.catplot(x="embarked", kind="count", data = df_Titanic)

Não vejo problemas com esta variável. Vamos em frente...

In [ ]:
sns.countplot(x = 'survived', hue ='embarked', data = df_Titanic)

In [ ]:
sns.countplot(x = 'pclass', hue ='embarked', data = df_Titanic)

In [ ]:
sns.countplot(x = 'sex', hue ='embarked', data = df_Titanic)

### Variável 'pclass'

In [ ]:
df_Titanic['pclass'].value_counts()

Algum problema com esta variável?

In [ ]:
sns.catplot(x="pclass", kind="count", data = df_Titanic)

### Coluna 'parch'

In [ ]:
df_Titanic['parch'].value_counts()

In [ ]:
sns.catplot(x="parch", kind="count", data = df_Titanic)

### Feature Engineering
* Criar a coluna 'sozinho_parch', onde sozinho_parch= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [ ]:
# Função para retornar 0 ou 1 em função dos valores de variavel
def sozinho(variavel):
    if (variavel == 0):
        return 1
    else:
        return 0

In [ ]:
df_Titanic['sozinho_parch'] = df_Titanic['parch'].map(sozinho)
df_Titanic.head()

### Coluna 'sibsp'

In [ ]:
df_Titanic['sibsp'].value_counts()

* Algum problema?

In [ ]:
sns.catplot(x="sibsp", kind="count", data = df_Titanic)

In [ ]:
sns.countplot(x = 'survived', hue ='sibsp', data = df_Titanic)

### Feature Engineering:
* Criar o atributo 'sozinho_sibsp', onde sozinho= 1 significa que o passageiro viaja sozinho e 0, caso contrário.

In [ ]:
df_Titanic['sozinho_sibsp'] = df_Titanic['sibsp'].map(sozinho)
df_Titanic.head()

### Coluna 'fare'
> Discretizar a coluna 'fare' em 10 buckets.

In [ ]:
df_Titanic.fare.describe()

In [ ]:
print(df_Titanic.fare.unique())
df_Titanic.fare.nunique()

In [ ]:
sns.catplot(x="fare", kind="count", data = df_Titanic)

In [ ]:
sns.histplot(df_Titanic['fare'])

In [ ]:
# Utilizando qcut
fareQcut = pd.qcut(df_Titanic['fare'], 10)

In [ ]:
fareQcut.head(20)

In [ ]:
df_Titanic['fare_class'] = pd.qcut(df_Titanic['fare'], 10, labels=False)

In [ ]:
df_Titanic['fare_class'].head(10)

In [ ]:
df_Titanic.head(20)

In [ ]:
df_Titanic['fare_class'].value_counts()

In [ ]:
import seaborn as sns
sns.catplot(x="fare_class", kind="count", data = df_Titanic)

### Verificar resultados  utilizando cut

In [ ]:
fareCut = pd.cut(df_Titanic['fare'], bins = 15, precision = 2, include_lowest=True)

In [ ]:
fareCut.head(20)

In [ ]:
df_Titanic['fare_class'] = pd.cut(df_Titanic['fare'], bins = 15, precision = 2) #  include_lowest=True)

In [ ]:
df_Titanic['fare_class'].head(50)

In [ ]:
df_Titanic.head(20)

In [ ]:
df_Titanic['fare_class'].value_counts()

In [ ]:
sns.histplot(df_Titanic['fare_class'])

In [ ]:
sns.catplot(x="fare_class", kind="count", data = df_Titanic, aspect= 4)

In [ ]:
 f, ax = plt.subplots(figsize=(10, 5))
sns.countplot(y="fare_class", data=df_Titanic, color="c")

In [ ]:
df_Titanic.head()

In [ ]:
fareQcut.head(20)

In [ ]:
df_Titanic['fare'].min()

In [ ]:
df_Titanic['fare'].max()

In [ ]:
df_Titanic.loc[df_Titanic['fare'] <= 1]

In [ ]:
# Criando a função fare_Category

def fare_Category(fare):
    if (-1 < fare <= 0):
        return 'inf_0'
    elif (0 < fare <= 7):
        return '0_7'
    elif (7 < fare <= 8):
        return '7_8'
    elif(8 < fare <= 10):
        return '8_10'
    elif (10 < fare <= 15):
        return '10_15'
    elif (15 < fare <= 22):
        return '15_22'
    elif (22 < fare <= 27):
        return '22_27'
    elif(27 < fare <= 40):
        return '27_40'
    elif(40 < fare <= 78):
        return '40_78'
    elif(78 < fare <= 515):
        return '78_515'
    else:
      return "Outros"

In [ ]:
df_Titanic['fare_class'] = df_Titanic['fare'].map(fare_Category)  # map aplica a função no atributo fare  - (map - serve para quebrar variáveis, criar classes, etc.)

In [ ]:
 df_Titanic.loc[df_Titanic['fare_class'] == 'Outros']

In [ ]:
df_Titanic.loc[df_Titanic['fare'] == 0]

In [ ]:
df_Titanic.head(20)

In [ ]:
df_Titanic.info()

In [ ]:
df_Titanic['fare_class'].value_counts()

In [ ]:
sns.catplot(x="fare_class", kind="count", data = df_Titanic, aspect = 2)

In [ ]:
# f, ax = plt.subplots(figsize=(10, 5))
sns.countplot(y="fare_class", data=df_Titanic)

In [ ]:
df_Titanic.loc[df_Titanic['fare'] <= 8]

In [ ]:
df_Titanic.loc[(df_Titanic['fare'] <= 15) ]

In [ ]:
# Definindo uma função com relação ao describe( dados ficam muito concentrados na primeira e segunda classe)
df_Titanic.fare.describe()

### **Coluna 'age'**
> ***Discretizar a coluna 'age' em 10 buckets.***

In [ ]:
df_Titanic.head(10)

In [ ]:
df_Titanic.info()

In [ ]:
df_Titanic.shape

In [ ]:
df_Titanic['age'].describe()

In [ ]:
df_Titanic['age'].isnull().sum()

In [ ]:
df_missing_values = pd.DataFrame(df_Titanic.isnull().sum())
df_missing_values['mv_percent'] = 100*df_missing_values[0]/df_Titanic.shape[0]
df_missing_values.sort_values(by ='mv_percent', ascending= False)

# Para atributo especifico, não tem sintaxe !!??

In [ ]:
 # Utilizando qcut()
 
 ageQcut = pd.qcut(df_Titanic['age'], 10)  # Irá gerar 10 bins; decil1, deci2, decil3, ....decil10!!??

In [ ]:
ageQcut.head(20)

In [ ]:
ageQcut.values_counts()

In [ ]:
# Aqui teriamos intervalos semelhantes ao describe de age

pd.qcut(df_Titanic['age'], 4).value_counts()

In [ ]:
df_Titanic['age_class'] = pd.qcut(df_Titanic['age'], 10, labels=False)

In [ ]:
df_Titanic.head(20)

In [ ]:
df_Titanic['age_class'].value_counts()

In [ ]:
sns.catplot(x="age_class", kind="count", data = df_Titanic)

#### Alternativa para discretizar 'age'

In [ ]:
def Age_Category(age):
    if (age <= 1):
        return 1
    elif (age <= 5):
        return 2
    elif(age <= 10):
        return 3
    elif (age <= 15):
        return 4
    elif (age <= 20):
        return 5
    elif (age <= 25):
        return 6
    elif(age < 30):
        return 7
    elif(age < 35):
        return 8
    elif(age < 40):
        return 9
    elif(age < 45):
        return 10
    elif(age < 50):
        return 11
    elif(age < 60):
        return 12
    elif(age < 70):
        return 13
    elif(age < 80):
        return 14
    else:
        return 15

In [ ]:
df_Titanic['age_class2'] = df_Titanic['age'].map(Age_Category)

In [ ]:
df_Titanic.head(20)

In [ ]:
set(df_Titanic['age_class2']) # Esse comando mostra os NaN's da coluna, se houver.

### Coluna 'title'

* Para fins de Data Manipulation, vamos capturar o tratamento dos passageiros contido na variável 'nome'. Ou seja, 'Mr.', 'Mrs.', 'Miss' e etc...

> Fonte: As funções get_title e title_map foram extraídas de https://www.kaggle.com/tjsauer/titanic-survival-python-solution

In [ ]:
df_Titanic.head(20)

Primeiramente, vamos entender como funciona, step by step...

In [ ]:
'Allen, Mr. William Henry'.split(',')[1].split('.')[0].strip()

In [ ]:
'Braund, Mr. Owen Harris'.split(',')

In [ ]:
'Braund, Mr. Owen Harris'.split(',')[1]

In [ ]:
'Braund, Mr. Owen Harris'.split(',')[1].split('.')

In [ ]:
'Braund, Mr. Owen Harris'.split(',')[1].split('.')[0]

In [ ]:
str.strip('   A')

In [ ]:
'Braund, Mr. Owen Harris'.split(',')[1].split('.')[0].strip()

In [ ]:
## Definindo a função get_title

def get_title(nome):
    if '.' in nome:
        return nome.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'

In [ ]:
## Definindo a função tilte_map

def title_map(title):
    if title in ['Mr', 'Ms']:
        return 1
    elif title in ['Master']:
        return 2
    elif title in ['Ms','Mlle','Miss']:
        return 3
    elif title in ["Mme", "Ms", "Mrs"]:
        return 4
    elif title in ["Jonkheer", "Don", "Sir", "the Countess", "Dona", "Lady"]:
        return 5
    elif title in ["Capt", "Col", "Major", "Dr", "Rev"]:
        return 6
    else:
        return 7

Exercícios
* Melhorar a função title_map.

##**Captura o tratamento dos passageiros:**

In [ ]:
 ## df_Titanic['title'] = df_Titanic['name'].apply(get_title).apply(title_map)

In [ ]:
df_Titanic['name'].apply(get_title).head(20)

In [ ]:
df_Titanic['name'].apply(get_title).apply(title_map).head(20)

In [ ]:
 df_Titanic['title'] = df_Titanic['name'].apply(get_title).apply(title_map)

In [ ]:
set(df_Titanic['title']) # Esse comando mostra os NaN's da variável

In [ ]:
df_Titanic.head(20)

Drop a coluna 'nome', pois não vamos mais precisar dela em nossas análises:

In [ ]:
df_Titanic= df_Titanic.drop(columns= ["name"], axis =1)

Apresenta o conteúdo do dataframe:

In [ ]:
df_Titanic.head(20)

## **Missing Value**
> Faça o devido tratamento de NaN's das COLUNAS do dataframe df_Titanic.

**Pergunta**: Na coluna 'value', os valores 0 (zero) são considerados Missing Values?

In [ ]:
df_Titanic['age'].isna().sum()

In [ ]:
df_Titanic[df_Titanic['age'].isna()]

In [ ]:
df_Titanic['age'].median()

In [ ]:
## Substituindo os missing values em age, pela mediana

df_Titanic['age'].fillna(df_Titanic['age'].median(), inplace = True)

In [ ]:
df_Titanic.head(20)

## **Relação causa --> efeito**

A função a seguir nos ajudará com o Data Visualization, cruzando a variável-resposta 'survived' com qualquer outra passada à função:

In [ ]:
def taxa_sobrevivencia(df, column):
    title_xt = pd.crosstab(df[column], df['survived'])
    print(pd.crosstab(df[column], df['survived'], margins=True))
    title_xt_pct = title_xt.div(title_xt.sum(1).astype(float), axis =0)
    
    title_xt_pct.plot(kind='bar', stacked=True, title='Taxa de Sobrevivência dos Passageiros', 
                      color= ['r', 'g'])
    plt.xlabel(column)
    plt.ylabel('Taxa de Sobrevivência')
    plt.legend(loc='lower center', bbox_to_anchor=(0.5, -0.05),shadow=True, ncol=2)
    plt.show()

def grafico_catplot(x, y, hue = 'survived', col= None):
    plt.rcdefaults()
    g= sns.catplot(x= x, y= y, hue = hue, palette={'Died':'red','Survived':'blue'}, col= col, data = df, kind= 'bar', height=4, aspect=.7)
    plt.show()

Qual a relação entre a variável 'sex' e a variável-resposta?

In [ ]:
taxa_sobrevivencia(df_Titanic, 'pclass')

## Exercício 7
Consulte a página [Pandas Exercises, Practice, Solution](https://www.w3resource.com/python-exercises/pandas/index.php) para mais exercícios relacionados á este tópico.

## Exercício 8
Crie a coluna 'aleatorio' no dataframe df_Titanic em que cada linha recebe um valor aleatório usando o método np.random.random()

In [ ]:
df_Titanic.shape

In [ ]:
# i_linhas_Titanic = df_Titanic.shape[0]

In [ ]:
df_Titanic.shape[0]

In [ ]:
i_linhas_Titanic = df_Titanic.shape[0]
i_linhas_Titanic

In [ ]:
df_Titanic['aleatorio'] = np.random.random(i_linhas_Titanic)
df_Titanic.head(10)

## Exercício 9

1. Carregue o arquivo FIFA.csv (está na área de Dataframes do curso);
2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?
3. Qual o dtype de cada variável/atributo do dataframe?
4. Se alguma variável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?
5. Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo;
6. Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?
7. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.
8. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');
9. Qual a número de jogadores por idade?
10. Quantos jogadores possuem cada clube?
11. Qual a média de idade por clube?
12. Qual a média de salário por país?
13. Qual a média de salário por clube?
14. Qual a média de salário por idade?
15. Quanto cada clube gasta com pagamento de salários?
16. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?
17. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?
18. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?
19. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.
20. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed'=?
21. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?
22. Quem são os outliers em termos de salário?
23. Quem são os outliers em termos de potência no chute?
24. Qual a correlação e a interpretação entre as variáveis 'value' e as demais variáveis numéricas do dataframe?
25. Construa variáveis dummy para as colunas preferred_foot e work_rate. preferred_foot_left;

A seguir, significado da variável "Position":
* GK = Goalkeeper – Goleiro.
* RB = Right Back – Zagueiro Direito.
* CB = Central Back – Zagueiro Central.
* LB = Left Back – Zagueiro Esquerdo.
* SW = Sweeper – Líbero.
* RWB = Right Wing Back – Lateral Direito.
* LWB = Left Wing back – Lateral Esquerdo.
* CDM = Central Defensive Midfielder – Meio Campo Defensivo / Volante.
* CM = Central Midfielder – Meia Central.
* CAM = Center Attacking Middlefielder – Meio Campo Ofensivo / Armador.
* OM = Offensive Midfielder – Meia Ofensivo.
* LOM = Left Offensive Midfielder – Meia Esquerda Ofensivo.
* ROM = Right Offensive Midfielder – Meia Direita Ofensivo.
* LM = Left Midfielder – Meia Esquerda.
* RM = Right Midfielder – Meia Direita.
* LWM = Left Wing Midfielder – Meio Ala Esquerdo.
* RWM = Right Wing Midfielder – Meio Ala Direito.
* RW = Right Winger – Ala Direito.
* LW = Left Winger – Ala Esquerto.
* LF = Left Forward – Atacante Esquerdo.
* RF = Right Forward – Atacante Direito.
* ST = Striker – Atacante.
* CF = Center Forward – Centro Avante.
* RS = Right Striker – Atacante Direito.
* LS = Left Striker – Atacante Esquerdo.

### **Solução dos Exercicios propostos**

## ***1. Carregue o arquivo FIFA.csv (está na área de Dataframes do curso)***

### Carregar as libraries necessárias

In [ ]:
import pandas as pd
import numpy as np

#### Configurar ambiente

In [ ]:
d_configuracao = {
    'display.max_columns': 1000,
    'display.expand_frame_repr': True,
    'display.max_rows': 10,
    'display.precision': 2,
    'display.show_dimensions': True
                  }

for op, value in d_configuracao.items():
    pd.set_option(op, value)
    print(op, value)

#### Carregar os dados

In [ ]:
# df = pd.read_csv('https://raw.githubusercontent.com/MathMachado/DSWP/master/Dataframes/FIFA.csv') #, index_col= 'PassengerId')
# df.head()

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/amgonca2019/DSWP/master/Dataframes/FIFA.csv')

In [ ]:
df.head(10)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
# df = df.drop('Unnamed: 0', axis = 1)

####**Definir a coluna 'ID' como index do dataframe**

In [ ]:
 df.set_index('ID', inplace = True)
 df.head(20)

### ***Função para retirar os sinais de "+" ou "-" em algumas colunas/variáveis: - Por exemplo, converter de strings para valores numéricos***
* Percebeste algumas colunas com o sinal de "+" nos campos?

A seguir, exemplo de algumas colunas com este problema:

In [ ]:
df[['RS', 'LS', 'ST']].head(10)

In [ ]:
df[['RS', 'LS', 'ST']].dtypes

A seguir, definimos um dataframe chamado df_string contendo a quantidade de colunas separadas pelo sinal "+". Observe que o máximo de colunas que obtemos são 2. Porque?

In [ ]:
# df_string = df['RS'].str.split(r'\+', n = 4, expand = True) # n representa o número de splits no output.
# df_string.head()

In [ ]:
# Minha sintaxe 

df_string = df['RS'].str.split('+', n = 1, expand = True) # n representa o número de splits no output.
df_string.head()

In [ ]:
df_string[0] = pd.to_numeric(df_string[0])
df_string[0]
df_string[1] = pd.to_numeric(df_string[1])
df_string[1]
df_string['RS2'] = df_string[0]+df_string[1]
df_string['RS2']

In [ ]:
df_string['RS2'] = df_string[0]+df_string[1]
df_string['RS2'].head(10)

In [ ]:
df_string.dtypes

In [ ]:
df_string.head(10)

In [ ]:
# Apagando as colunas 0 e 1 e meslcando com o data frame df

df_string.drop(columns= [0, 1], axis = 1, inplace = True)
df = pd.merge(df, df_string, how = 'left', on = 'ID')
df.head()

 **Desafio**: Próximo passo: transformar isso numa função para tratar as demais variáveis!

### ***2. Que colunas podem previamente ser eliminadas da análise? Porque identificar o que pode ser eliminado é importante?***

### Colunas que poderiam previamente ser eliminadas:
* Photo
* Flag
* Club Logo
* Unnamed: 0

In [ ]:
df2 = df.copy()

l_cols_drop = ['Unnamed: 0', 'Photo', 'Flag', 'Club Logo']
df2.drop(columns = l_cols_drop, axis = 1, inplace = True)
df2

## 3. Qual o dtype de cada variável/atributo do dataframe?

In [ ]:
df2.info()

In [ ]:
df2.dtypes

In [ ]:
# Função para nos mostrar o tipo das colunas:
def mostra_tipo(df):
    d_tipos = dict(zip(df.columns, df.dtypes))
    for item in d_tipos.items():
        print(item)

In [ ]:
mostra_tipo(df2)

### Python zip() Function
Definition and Usage:
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

### Syntax
* zip(iterator1, iterator2, iterator3 ...)
* Parameter Values:
** Parameter	
iterator1, iterator2, iterator3 ...
** Description  
iterator objects that will be joined together

In [ ]:


a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

# use the tuple() function to display a readable version of the result:
# print(tuple(x))
print(dict(x))
#print(list(x))

## ***4. Se alguma variável/atributo é do tipo string (object) e supostamente deveria ser numérica, como alteramos o tipo?***

### Mudar o tipo de algumas colunas
* Exemplo: 'Wage', 'Value' e 'Release Clause'.

In [ ]:
df4 = df2.copy()

In [ ]:
df4

In [ ]:
def transforma_monetarias(coluna):
    if 'M' in coluna:
        return int(float(coluna.replace('M', '')) * 1000000)

    elif 'K' in coluna:
        return int(float(coluna.replace('K', '')) * 1000)
        
    else:
        return int(coluna)

Substituindo o símbolo "€" por '':

In [ ]:
l_colunas_monetarias = ['Value', 'Wage'] # Não consegui aplicar para o atributo Release Clause ????

for coluna in l_colunas_monetarias:
    df4[coluna] = df4[coluna].str.replace('€', '')
    df4[coluna] = df4[coluna].apply(lambda x: transforma_monetarias(x))

In [ ]:
# Agora vamos renomear as colunas 'Wage', 'Value' e 'Release Clause'

df4.rename(columns = {'Wage': 'Wage(€)', 'Value': 'Value(€)', 'Release Clause': 'Release Clause(€)'}, inplace = True)

In [ ]:
df4.head(10)

## 5. Normalize os nomes das colunas, ou seja, renomeie o nome das colunas para minúsculo;

In [ ]:
df5 = df4.copy()

### Nome das colunas --> Substituir os " " por "_" nos nomes

In [ ]:
df5.columns = [c.replace(' ', '_') for c in df5.columns]

### Renomear as colunas usando lower()

In [ ]:
df5.columns = [c.lower() for c in df5.columns]
# mostra_tipo(df5)

In [ ]:
df5

## ***6. Há Missing values nos dados? Se sim, o qual sua proposta (proposta do grupo) para tratar estes Missing values?***

In [ ]:
df6 = df5.copy()
df6.head()

### **Fazendo uma cópia permanente do dataframe df6 para uso futuro**

In [ ]:
df6[['overall', 'potential', 'value(€)', 'wage(€)', 'nationality', 'position', 'age', 'preferred_foot']].to_csv('FIFA_algumas_features.csv')

In [ ]:
df6[['name', 'age','nationality', 'overall', 'potential', 'club', 'value(€)', 'wage(€)', 'position', 'preferred_foot',
     'height', 'weight', 'release_clause(€)']].to_csv('FIFA_algumas_features2.csv')

In [ ]:
df6[['name', 'age','nationality', 'overall', 'potential', 'club', 'value(€)', 'wage(€)', 'position', 'preferred_foot',
     'height', 'weight', 'release_clause(€)']].to_excel ('FIFA_algumas_features2.xlsx')

In [ ]:
# Verificando os arquivos

In [ ]:
cat FIFA_algumas_features.csv

In [ ]:
%ls  # Alias for !ls -F --color

In [ ]:
ls -F --color

In [ ]:
ls -l

In [ ]:
# Verificar Missing Values

In [ ]:
pd.set_option('display.max_rows', 100)

# Função para verificar os MV

def mostra_missing_value(df):
    total = df.isnull().sum().sort_values(ascending = False)
    percent = 100*round((df.isnull().sum()/df.isnull().count()).sort_values(ascending = False), 2)
    missing_data = pd.concat([total, percent], axis = 1, keys=['Total', 'Percentual'])
    print(missing_data.head(100))

In [ ]:
mostra_missing_value(df6)

In [ ]:
# Procurar missing values apennas para colunas dtype object

Aqui vou substituir os Missing Values pela mediana. Fique à vontade para substituir por outras alternativas como min, max, média, limite superior de outliers e limite inferior para outliers.

In [ ]:
# Verificando quais colunas são numéricas

l_colunas_numericas = df6.select_dtypes(np.number).columns.tolist()
l_colunas_numericas

In [ ]:
# Procurar missing values apenas para colunas numéricas

mostra_missing_value(df6[l_colunas_numericas])

In [ ]:
# Exibindo data frame das colunas numéricas

df6.select_dtypes(np.number)

In [ ]:
# Verificar quais colunas são strings

l_colunas_strings = df6.select_dtypes(include='object').columns.tolist()
# df6.select_dtypes(include='object')
l_colunas_strings

In [ ]:
# Exibindo data frame das colunas strings

df6.select_dtypes(include='object')

In [ ]:
# Procurar missing values apenas para colunas strings

mostra_missing_value(df6[l_colunas_strings])

In [ ]:
# Mediana antes da substituição:

df6[l_colunas_numericas].median()

In [ ]:
# Substituição pela mediana, de cada atributo numérico

for coluna in l_colunas_numericas:
    df6[coluna].fillna(df6[coluna].median())

In [ ]:
# Verificar novamente os mising values

df6.head(10)

In [ ]:
# Mediana depois da substituição:
df6[l_colunas_numericas].median()

Abaixo, identifiquei 252 registros com value = 0 --> Nestes casos, vou atribuir a mediana também.

In [ ]:
# df6[df6['value'] == 0]['value'].value_counts()

In [ ]:
# Verificando se existem valores igual a 0

#(df6.loc[ : ] == 0).any()

(df6[ : ] == 0).sum()

In [ ]:
# Selecionando as  linhas com value(€) igual a 0

df6[df6['value(€)'] == 0]

In [ ]:
""" Filtrando apenas a coluna value(€)"""

df6[df6['value(€)'] == 0] ['value(€)']

In [ ]:
# Selecionando as  linhas com  wage(€) igual a 0

df6.loc[df6['wage(€)'] == 0]

In [ ]:
""" Filtrando apenas a coluna wage(€)"""

df6.loc[df6['wage(€)'] == 0]['wage(€)']

In [ ]:
# Mediana antes

df6['value(€)'].median()

In [ ]:
# Mediana antes

df6['wage(€)'].median()

In [ ]:
# Atribuição da mediana para os valores 0 de 'value(€)'

df6.loc[df6['value(€)'] == 0, 'value(€)'] = df6['value(€)'].median()

In [ ]:
# Mediana depois

df6['value(€)'].median()

In [ ]:
# Atribuição da mediana para os valores 0 de 'value(€)'

df6.loc[df6['wage(€)'] == 0, 'value(€)'] = df6['wage(€)'].median()

In [ ]:
# Mediana depois

df6['wage(€)'].median()

In [ ]:
df6[df6['value(€)'] == 675000.0]

In [ ]:
df6[df6['wage(€)'] == 3000.0]

E se tivéssemos substituído pela média, ao invés da mediana? Teria mudado alguma coisa?

## 7. Qual a distribuição do número de jogadores por países? Apresente uma tabela com a distribuição.

In [ ]:
df7 = df6.copy()
df7.head()

In [ ]:
df7.head()

In [ ]:
df_jogadores_por_paises = pd.DataFrame(df7.groupby(by=['nationality']).size())
df_jogadores_por_paises.columns = ['numero_jogadores']
df_jogadores_por_paises.sort_values(by = ['numero_jogadores'], ascending = False, inplace= True)
df_jogadores_por_paises = df_jogadores_por_paises.reset_index()
df_jogadores_por_paises

# Numa única linha ficaria assim:
df_jogadores_por_paises2 = pd.DataFrame(df7.groupby(by=['nationality']).size(), columns= ['numero_jogadores']).sort_values(by = ['numero_jogadores'], ascending = False).reset_index()
df_jogadores_por_paises2

## 8. Qual a média de idade dos jogadores por países (variável/atributo 'Nacionality');

In [ ]:
df_media_idade_por_paises = df7.groupby(by = ['nationality']).agg({'age': ['count', 'mean']}).reset_index()
df_media_idade_por_paises.columns = ['nationality', 'numero_joagadores', 'media_idade']
df_media_idade_por_paises.sort_values(by = ['media_idade'], ascending = False, inplace = True)
df_media_idade_por_paises.head()

## 9. Qual a número de jogadores por idade?

In [ ]:
df_jogadores_por_idade = df7.groupby(by = ['age']).agg({'age': ['count']}).reset_index()
df_jogadores_por_idade.columns = ['age', 'numero_joagadores']
df_jogadores_por_idade.sort_values(by = ['numero_joagadores'], ascending = False, inplace = True)
df_jogadores_por_idade.head()

## 10. Quantos jogadores possuem cada clube?

In [ ]:
df_jogadores_por_clube = df7.groupby(by = ['club']).size().reset_index()
df_jogadores_por_clube.columns = ['clube', 'numero_joagadores']
df_jogadores_por_clube.sort_values(by = ['numero_joagadores'], ascending = False, inplace = True)
df_jogadores_por_clube.head()

## 11. Qual a média de idade por clube?

In [ ]:
df_media_idade_por_clube = df7.groupby(by = ['club']).agg({'age': ['count', 'mean']}).reset_index()
df_media_idade_por_clube.columns = ['clube', 'numero_joagadores', 'media_idade']
df_media_idade_por_clube.sort_values(by = ['media_idade'], ascending = False, inplace = True)
df_media_idade_por_clube.head()

## 12. Qual a média de salário por país?

In [ ]:
df_media_salario_por_pais = df7.groupby(by = ['nationality']).agg({'wage': ['count', 'mean']}).reset_index()
df_media_salario_por_pais.columns = ['nationality', 'numero_joagadores', 'media_salario']
df_media_salario_por_pais.sort_values(by = ['media_salario'], ascending = False, inplace = True)
df_media_salario_por_pais.head()

## 13. Qual a média de salário por clube?

In [ ]:
df_media_salario_por_clube = df7.groupby(by = ['club']).agg({'wage': ['count', 'mean']}).reset_index()
df_media_salario_por_clube.columns = ['clube', 'numero_joagadores', 'media_salario']
df_media_salario_por_clube.sort_values(by = ['media_salario'], ascending = False, inplace = True)
df_media_salario_por_clube.head()

## 14. Qual a média de salário por idade?

In [ ]:
df_media_salario_por_idade = df7.groupby(by = ['age']).agg({'wage': ['count', 'mean']}).reset_index()
df_media_salario_por_idade.columns = ['age', 'numero_joagadores', 'media_salario']
df_media_salario_por_idade.sort_values(by = ['media_salario'], ascending = False, inplace = True)
df_media_salario_por_idade.head()

## 15. Quanto cada clube gasta com pagamento de salários?

In [ ]:
df_soma_salario_por_clube = df7.groupby(by = ['club']).agg({'wage': ['count', 'mean', 'sum']}).reset_index()
df_soma_salario_por_clube.columns = ['clube', 'numero_joagadores', 'media_salario', 'soma_salario']
df_soma_salario_por_clube.sort_values(by = ['soma_salario'], ascending = False, inplace = True)
df_soma_salario_por_clube.head()

## 16. Quais são os insight (o que você consegue descobrir) em relação à variável 'Potential' (mede o potencial dos jogadores)?

In [ ]:
df7.head()

In [ ]:
df_potential_por_clube = df7.groupby(by = ['potential', 'club', 'nationality']).agg({'potential': ['count']}).reset_index()
df_potential_por_clube.columns = ['potential', 'club', 'nationality', 'numero_joagadores']
df_potential_por_clube.sort_values(by = ['potential'], ascending = False, inplace = True)
df_potential_por_clube.head(10)

#### Quem é o jogador com potential = 95?

In [ ]:
df7.loc[df7['potential'] == 95]

#### Quem são os jogadores com potencial = 94?

In [ ]:
df7.loc[df7['potential'] == 94]

## 17. Quais os insights em relação à variável overall (nota média do atleta) por idade, clube e país?

In [ ]:
df_overall = df7.groupby(by = ['overall', 'club', 'nationality']).agg({'overall': ['count']}).reset_index()
df_overall.columns = ['overall', 'club', 'nationality', 'numero_joagadores']
df_overall.sort_values(by = ['overall'], ascending = False, inplace = True)
df_overall.head(10)

#### Quem é o jogador com overall = 94?

In [ ]:
df7.loc[df7['overall'] == 94]

## 18. Quais são os melhores clubes se levarmos em consideração as variáveis Potential e Overall?
* Para responder esta questão, tirei a média de overall e potential.

In [ ]:
df18 = df7.copy()

In [ ]:
df18['overall_potential'] = ((df18['potential']+df18['overall'])/2)
df18[['name', 'overall', 'potential', 'overall_potential']].head()

In [ ]:
df_overall_potential = df18.groupby(by = ['club', 'nationality', 'age']).agg({'overall_potential': ['count', 'mean']}).reset_index()
df_overall_potential.columns = ['club', 'nationality', 'age', 'numero_jogadores', 'media_overall_potential']
df_overall_potential.sort_values(by = ['media_overall_potential'], ascending = False, inplace = True)
df_overall_potential.head(10)

De forma geral:

In [ ]:
df_overall_potential2 = df18.groupby(by = ['club']).agg({'overall_potential': ['count', 'mean']}).reset_index()
df_overall_potential2.columns = ['club', 'numero_jogadores', 'media_overall_potential']
df_overall_potential2.sort_values(by = ['media_overall_potential'], ascending = False, inplace = True)
df_overall_potential2.head(10)

## 19. Apresente o ranking dos goleiros (use a variável/atributo 'Preferred Positions') por Potencial, Overall. Estamos à procura de 'GK'.

In [ ]:
df19 = df18.copy()

In [ ]:
df_goleiros = df19[df19['position'] == 'GK']
df_goleiros.head()

In [ ]:
df_overall_potential_goleiros = df_goleiros.groupby(by = ['club']).agg({'overall_potential': ['count', 'mean']}).reset_index()
df_overall_potential_goleiros.columns = ['club', 'numero_jogadores', 'media_overall_potential']
df_overall_potential_goleiros.sort_values(by = ['media_overall_potential'], ascending = False, inplace = True)
df_overall_potential_goleiros.head(10)

## 20. Quem são os jogadores mais rápidos (variável/atributo 'Sprint speed')?

In [ ]:
df20 = df19.copy()

In [ ]:
df20.sort_values(by = 'sprintspeed', ascending = False).head(5)

## 21. Quem são os 5 melhores jogadores em termos de chute (força para chutar) (use a variável/atributo 'Shot power')?

In [ ]:
df21 = df20.copy()

In [ ]:
df21.sort_values(by = 'shotpower', ascending = False).head(5)

## 22. Quem são os outliers em termos de salário?

### Identificação e tratamento dos Outliers
* Qual o Overall médio do Barcelona, Juventus e Real Madrid?
* E qual o overall médio depois do tratamento dos outliers?
* Quem são os atletas que estão influenciando a média?

![BoxPlot](https://github.com/MathMachado/Materials/blob/master/boxplot.png?raw=true)

Fonte: [Understanding Boxplots](https://towardsdatascience.com/understanding-boxplots-5e2df7bcbd51)

In [ ]:
df22 = df21.copy()

In [ ]:
q1_salario, q3_salario = df22['wage'].quantile([0.25,0.75]).to_list()
iqr_salario = q3_salario - q1_salario
print(q1_salario, q3_salario)
print(iqr_salario)

In [ ]:
outlier_salario_inferior = q1_salario - 1.5 * iqr_salario
outlier_salario_superior = q3_salario + 1.5 * iqr_salario

df_outliers_salario = df22[['name', 'club', 'nationality', 'wage', 'overall', 'potential']]

# Salários outliers inferiores
df_outliers_salario[df_outliers_salario['wage'] < outlier_salario_inferior]

In [ ]:
# Top 10 Salários outliers superior
df_outliers_salario[df_outliers_salario['wage'] > outlier_salario_superior].sort_values(by = ['wage'], ascending = False).head(10)

## 23. Quem são os outliers em termos de potência no chute?

In [ ]:
df23 = df22.copy()

In [ ]:
q1_chute, q3_chute = df23['shotpower'].quantile([0.25,0.75]).to_list()
iqr_chute = q3_chute - q1_chute
print(q1_chute, q3_chute)
print(iqr_chute)

In [ ]:
outlier_chute_inferior = q1_chute - 1.5 * iqr_chute
outlier_chute_superior = q3_chute + 1.5 * iqr_chute

df_outliers_chute = df23[['name', 'club', 'nationality', 'shotpower', 'overall', 'potential']]

# Salários outliers inferiores
df_outliers_chute[df_outliers_chute['shotpower'] < outlier_chute_inferior]

In [ ]:
# Top 10 outliers superiores - shotpower
df_outliers_chute[df_outliers_chute['shotpower'] > outlier_chute_superior].sort_values(by = ['shotpower'], ascending = False).head(10)

## 24. Qual a correlação e a interpretação entre as variáveis 'value' e as demais variáveis numéricas do dataframe?

## 25. Construa variáveis dummy para as colunas preferred_foot e work_rate. preferred_foot_left;